.image1{
	width:50px;
	height:auto;
	border-radius:100px;
	display: block;
	text-align:center;
	overflow:visible;
	position:relative;
	}
	
	.p1{
	color:#b32400;
	font-size:55px;
	margin-top:-60px;
	text-align:Center;
	text-shadow: 2px 2px white;
	text-align:center;
	}
	
	body{
	background-image: url("../images/old-book.jpg");
  	background-repeat:repeat;
	align:center;
	background-position: center top;
	background-attachment: 100%;
	background-size: 100% 100%;
	background-attachment: fixed;
	position:relative;
	}
	.div{
	width:800px;
	height:150px;
	border:3px solid  #000000;
	padding:25px;
	background-color:#cccccc;
	}
	
	.div2{
	border:3px solid  #000000;
	background-image: url("../images/book1.jpg");
	background-position:center;
	background-size:200px;
	}
	
	.itemName{
	font-size:40px;
	color: #000000;
	margin-left:500px;
	margin-top:-1350px;	
	overflow:visible;
	}	
	
	.button2{
	color: #000000;
	float:right;
	font-size:30px;
	border-radius:5px; black;
	}
	.button1{
	color: #000000;
	float: center;
	
	}
	
	.but{
	color:red;
	align:center;
	font-size:30px;
	border-radius:5px 5px;
	}
	.but:hover{
	 cursor: pointer;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
	color:red;
	}
	.des{
	align:center;
	color: #000000;
	font-size:20px;
	}
	
	.div3{
	color: #000000;
	border:3px solid  #000000;
	}
	
	.div2 p{
	margin-top:60px;
	}
	
	.headerlogo img{
	position : absolute;
	width : 150px;
	height : auto;
	margin-top : 20px;
	margin-left : -600px;
	float : left;
}


header{
	width : 90%;
	margin-left : 70px;
	text-align : center;
}

#temp_container{
	width: 1507px;
	margin: auto;
	padding: 30px;
	background-color:#ff471a;
}

#temp_menu {
	clear: both;
	width: 100%;
	height: 60px;
}

#temp_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#temp_menu ul li{
	display: inline;
}

#temp_menu ul li a{
	float: left;
	padding:  10px 15px;
	font-size: 15px;
	font-weight: bold;
	font-family : Lato;
	text-transform : uppercase;
	text-align: center;
	text-decoration: none;
	color: white;
}

#temp_menu li a:hover, #temp_menu li .current{
	color: #fcf88e;
}


#temp_footer {
	clear: both;
	width: 1507px;
	height: 100px;
	padding: 100px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color:#ff471a;
}

#temp_footer a{
	color: white;
	font-weight: normal;
}

