body {
	background-image: url("../images/123.jpg");
	background-size:100%;
	background-repeat: no-repeat;
}
	
.butt{	
	padding: 5px 10px;
	font-size:16px;
	color: white;
	border-radius:4px;
	background-color: #662400; 
	border: 2px solid #white;
	cursor: pointer;
	margin-left: 1%;
}
	
.topnav{
	margin-left: 350px;
}
	
.topnav a {
    float: left;
    color: black;
    text-align: center;
 	padding: 15px 18px;
 	text-decoration: none;
  	font-size: 20px;
}


.topnav a:hover {
	background-color: #ffccb3;
	color: black;
}

.topnav a.active {
    background-color: #ffaa80;
    color: white;
}
		   
.torders{
	position: absolute;
	margin-left: 10%;
	margin-top: 9%;
	text-color: black;
}


thead{
	color: black;
	font-size: 17px;
}

input[type=submit], [type=reset]{
	padding: 10px 20px;
	position: absolute;
	font-size:16px;
	color: black;
	border-radius:4px;
	background-color: #ffd1b3; 
	border: 1px solid #ff6600;
	cursor: pointer;
	margin-left: 40%
}

input[type=submit]:hover {
  background-color: #ff9933;
}

input[type=reset]:hover {
  background-color: #ff9933;
}